.python-environments
url/
ac-comphist.dat
auto-save-list/
backups/
bookmarks
elpa/
eshell/
savehist
session*
themes/
tutorial/
settings.el
projectile-bookmarks.eld
projectile.cache
recentf
\#*\#
ido.last
helm-doc.org
games/
.mc-lists.el
.sx
var/
abbrev_defs
anaconda-mode/*